<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Na Nota</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="tuner-container">
<h2 class="note-display">{{ note }}</h2>
<p class="frequency">{{ frequency }} Hz</p>
<ion-icon style="Color:rgb(255, 0, 0)" name="arrow-down-outline"></ion-icon>
<div class="meter">
  <div class="meter-bar" [style.width.%]="meterPosition * 100"></div>
</div>

<ion-button (click)="startTuning()">Iniciar Afinador</ion-button>
<ion-button (click)="stopTuning()">Parar</ion-button>

  </div>

  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">© 2025 Roll the Sound</ion-title>
  </ion-toolbar>
</ion-content>