<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Pedidos</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for(order of orderList; track order.clientName) {
    <ion-card class="ion-item">
      <ion-card-header>
        <ion-card-title>
          <strong>Cliente:</strong> {{ order.clientName }}
        </ion-card-title>
        <ion-card-subtitle>
          <strong>CPF:</strong> {{ order.clientCpf }}<br>
          <strong>Data do Pedido:</strong> {{ order.orderDate | date: 'dd/MM/yyyy' }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            @for(item of order.itemsList; track item.name) {
            <ion-col size="12" size-md="6">
              <ion-card>
                <ion-item lines="none">
                  <ion-thumbnail slot="start">
                    <ion-img class="img-produto" [src]="item.image" alt="{{ item.name }}"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    <h2><strong>{{ item.name }}</strong></h2>
                    <p>Preço unitário: R$ {{ item.price | number: '1.2-2' }}</p>
                    <p>Quantidade: {{ item.quantity }}</p>
                    <p>Total: R$ {{ item.price * item.quantity | number: '1.2-2' }}</p>
                  </ion-label>
                </ion-item>
              </ion-card>
            </ion-col>
            }
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-text color="danger">
                <h1><strong>Total do Pedido:</strong> {{ order.totalPrice | currency: 'BRL' }}</h1>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    }

    @empty {
    <ion-item>
      Lista de pedido vazia, cadastre um novo pedido!
    </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>