:root {
    --ion-color-primary:    #b00020;
    --ion-color-secondary:  #ff8a80;
    --ion-color-tertiary:   #ff5252;
    --ion-color-success:    #00e676;
    --ion-color-warning:    #ffea00;
    --ion-color-danger:     #d50000;
    --ion-color-dark:       #212121;
    --ion-color-medium:     #757575;
    --ion-color-light:      #eeeeee;
    --ion-font-family: 'Roboto', sans-serif;
  }