<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Artistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="artistForm">
    <ion-list>
      <ion-item>
        <ion-input formControlName="name" labelPlacement="floating" label="Nome do Artista:" type="text"></ion-input>
        <p>
        @if(hasError('name', 'required')) {
          O campo é obrigatório
        }
        @if(hasError('name', 'minlength')) {
          O campo deve ter no mínimo 3 caracteres
        }
        @if(hasError('name', 'maxlength')) {
          O campo deve ter no máximo 150 caracteres
        }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="band" labelPlacement="floating" label="Banda:" type="text"></ion-input>
                <p>
        @if(hasError('band', 'required')) {
          O campo é obrigatório
        }
        @if(hasError('band', 'minlength')) {
          O campo deve ter no mínimo 3 caracteres
        }
        @if(hasError('band', 'maxlength')) {
          O campo deve ter no máximo 150 caracteres
        }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="image" labelPlacement="floating" label="URL da Imagem:" type="url"></ion-input>
                <p>
        @if(hasError('image', 'required')) {
          O campo é obrigatório
        }
        @if(hasError('image', 'invalidUrl')) {
          O campo de imagem deve ser uma URL válida
        }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="srcClip" labelPlacement="floating" label="Link do vídeo (YouTube embed):" type="url"></ion-input>
        @if(hasError('image', 'required')) {
          O campo é obrigatório
        }
        @if(hasError('image', 'invalidUrl')) {
          O campo de video deve ser uma URL válida
        }
      </ion-item>

      <ion-item>
        <ion-textarea formControlName="about" labelPlacement="floating" label="Sobre o artista:" auto-grow="true"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [disabled]="artistForm.invalid" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>