<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Cadastro de Pedidos</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Dados do cliente -->
    <ion-item>
      <ion-input labelPlacement="floating" label="Nome do Cliente:" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="CPF:" maxlength="14" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="floating" label="Data da Compra:" [maskito]="dateMask" [maskitoElement]="maskitoElement" />
    </ion-item>
    <ion-item>
      <ion-select label="Status" label-placement="floating" interface="popover" placeholder="Selecione o status">
        <ion-select-option value="PAGO">Pago</ion-select-option>
        <ion-select-option value="PENDENTE">Pendente</ion-select-option>
        <ion-select-option value="CANCELADO">Cancelado</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
