<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>
        <ion-icon style="vertical-align: bottom; font-size: 25px;" name="dice-sharp"></ion-icon> Roll the Sound
      </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>


    <div class="welcome-section">
      <h2 class="headline">Sua loja online de instrumentos musicais</h2>
      <p>Explore uma variedade de guitarras, teclados, baterias, sopros e acessórios. Ofertas especiais, lançamentos e tudo o que você precisa para fazer música com qualidade.</p>
  

    </div>
  </ion-content>

