<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Opinião</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Opinião</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-list>
    @for(opinion of opinionlist; track opinion.name) {
    <ion-item>
      <ion-text>

        <h2><strong>Nota: </strong></h2>
        @for(i of getArray(opinion.note); track i){
          <ion-icon name="star" style="  color: gold;  filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);font-size: 26px;"></ion-icon>
        }
        <h4><strong>Cidade: </strong>{{opinion.city}}</h4>

        <h4><strong>Recomenda: </strong> {{opinion.recommend ? 'Sim':'Não'}}</h4>

        <h3><strong>Opinião: </strong> {{ opinion.comment }} </h3>
      </ion-text>
    </ion-item>
    } @empty {
    <ion-item>Lista de jogos vazia, cadastre um novo jogo!</ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">© 2025 Roll the Sound</ion-title>
  </ion-toolbar>

</ion-content>